/cmake-build-debug/
/.idea/shelf/Changes/.ninja_deps
/.idea/shelf/Changes/5.5.tar.gz
/.idea/shelf/Changes/a.exe
/.idea/shelf/Changes/a1.exe
/.idea/shelf/Changes/alagard.png
/.idea/shelf/Changes/alpha_beta.png
/.idea/shelf/Changes/anonymous_pro_bold.ttf
/.idea/shelf/Changes/audio_mixed_processor.png
/.idea/shelf/Changes/audio_module_playing.png
/.idea/shelf/Changes/audio_music_stream.png
/.idea/shelf/Changes/audio_raw_stream.png
/.idea/shelf/Changes/audio_sound_loading.png
/.idea/shelf/Changes/audio_sound_multi.png
/.idea/shelf/Changes/audio_stream_effects.png
/.idea/shelf/Changes/barracks_diffuse.png
/.idea/shelf/Changes/billboard.png
/.idea/shelf/Changes/Block.cpp.obj
/.idea/shelf/Changes/Block.cpp1.obj
/.idea/shelf/Changes/Blocks.cpp.obj
/.idea/shelf/Changes/Blocks.cpp1.obj
/.idea/shelf/Changes/boom.wav
/.idea/shelf/Changes/bridge_diffuse.png
/.idea/shelf/Changes/button.png
/.idea/shelf/Changes/buttonfx.wav
/.idea/shelf/Changes/castle_diffuse.png
/.idea/shelf/Changes/cat.png
/.idea/shelf/Changes/cesium_man.m3d
/.idea/shelf/Changes.xml
/.idea/shelf/Changes/chr_knight.vox
/.idea/shelf/Changes/chr_sword.vox
/.idea/shelf/Changes/church_diffuse.png
/.idea/shelf/Changes/CMakeDetermineCompilerABI_C.bin
/.idea/shelf/Changes/CMakeDetermineCompilerABI_CXX.bin
/.idea/shelf/Changes/coin.wav
/.idea/shelf/Changes/colors.cpp.obj
/.idea/shelf/Changes/colors.cpp1.obj
/.idea/shelf/Changes/compiler_settings.png
/.idea/shelf/Changes/context.c.obj
/.idea/shelf/Changes/core_2d_camera.png
/.idea/shelf/Changes/core_2d_camera_mouse_zoom.png
/.idea/shelf/Changes/core_2d_camera_platformer.png
/.idea/shelf/Changes/core_2d_camera_split_screen.png
/.idea/shelf/Changes/core_3d_camera_first_person.png
/.idea/shelf/Changes/core_3d_camera_free.png
/.idea/shelf/Changes/core_3d_camera_mode.png
/.idea/shelf/Changes/core_3d_camera_split_screen.png
/.idea/shelf/Changes/core_3d_picking.png
/.idea/shelf/Changes/core_automation_events.png
/.idea/shelf/Changes/core_basic_screen_manager.png
/.idea/shelf/Changes/core_basic_window.png
/.idea/shelf/Changes/core_custom_frame_control.png
/.idea/shelf/Changes/core_custom_logging.png
/.idea/shelf/Changes/core_drop_files.png
/.idea/shelf/Changes/core_input_gamepad.png
/.idea/shelf/Changes/core_input_gestures.png
/.idea/shelf/Changes/core_input_gestures_web.png
/.idea/shelf/Changes/core_input_keys.png
/.idea/shelf/Changes/core_input_mouse.png
/.idea/shelf/Changes/core_input_mouse_wheel.png
/.idea/shelf/Changes/core_input_multitouch.png
/.idea/shelf/Changes/core_input_virtual_controls.png
/.idea/shelf/Changes/core_loading_thread.png
/.idea/shelf/Changes/core_random_sequence.png
/.idea/shelf/Changes/core_random_values.png
/.idea/shelf/Changes/core_scissor_test.png
/.idea/shelf/Changes/core_smooth_pixelperfect.png
/.idea/shelf/Changes/core_storage_values.png
/.idea/shelf/Changes/core_vr_simulator.png
/.idea/shelf/Changes/core_window_flags.png
/.idea/shelf/Changes/core_window_letterbox.png
/.idea/shelf/Changes/core_window_should_close.png
/.idea/shelf/Changes/core_world_screen.png
/.idea/shelf/Changes/country.mp3
/.idea/shelf/Changes/cube_diffuse.png
/.idea/shelf/Changes/cubicmap.png
/.idea/shelf/Changes/cubicmap_atlas.png
/.idea/shelf/Changes/cubicmap_atlas1.png
/.idea/shelf/Changes/custom_alagard.png
/.idea/shelf/Changes/custom_jupiter_crash.png
/.idea/shelf/Changes/custom_jupiter_crash1.png
/.idea/shelf/Changes/custom_mecha.png
/.idea/shelf/Changes/cyberpunk_street_background.png
/.idea/shelf/Changes/cyberpunk_street_foreground.png
/.idea/shelf/Changes/cyberpunk_street_midground.png
/.idea/shelf/Changes/dejavu.png
/.idea/shelf/Changes/DotGothic16-Regular.ttf
/.idea/shelf/Changes/dresden_square_1k.hdr
/.idea/shelf/Changes/dresden_square_2k.hdr
/.idea/shelf/Changes/easings_testbed.png
/.idea/editor.xml
/.idea/shelf/Changes/egl_context.c.obj
/.idea/shelf/Changes/embedded_files_loading.png
/.idea/shelf/Changes/explosion.png
/.idea/shelf/Changes/fez.vox
/.idea/shelf/Changes/fudesumi.png
/.idea/shelf/Changes/fudesumi.raw
/.idea/shelf/Changes/fudesumi1.png
/.idea/shelf/Changes/Game.cpp.obj
/.idea/shelf/Changes/greenman.glb
/.idea/shelf/Changes/greenman_hat.glb
/.idea/shelf/Changes/greenman_shield.glb
/.idea/shelf/Changes/greenman_sword.glb
/.idea/shelf/Changes/Grid.cpp.obj
/.idea/shelf/Changes/Grid.cpp1.obj
/.idea/shelf/Changes/guy.blend
/.idea/shelf/Changes/guy.iqm
/.idea/shelf/Changes/guyanim.iqm
/.idea/shelf/Changes/guytex.png
/.idea/shelf/Changes/heightmap.png
/.idea/shelf/Changes/house_diffuse.png
/.idea/shelf/Changes/init.c.obj
/.idea/shelf/Changes/input.c.obj
/.idea/shelf/Changes/jupiter_crash.png
/.idea/shelf/Changes/KAISG.ttf
/.idea/shelf/Changes/KAISG1.ttf
/.idea/shelf/Changes/libraylib.a
/.idea/shelf/Changes/main.cpp.obj
/.idea/shelf/Changes/main.cpp1.obj
/.idea/shelf/Changes/market_diffuse.png
/.idea/shelf/Changes/mask.png
/.idea/material_theme_project_new.xml
/.idea/shelf/Changes/mecha.png
/.idea/shelf/Changes/mini1111.xm
/.idea/shelf/Changes/models_animation.png
/.idea/shelf/Changes/models_billboard.png
/.idea/shelf/Changes/models_bone_socket.png
/.idea/shelf/Changes/models_box_collisions.png
/.idea/shelf/Changes/models_cubicmap.png
/.idea/shelf/Changes/models_draw_cube_texture.png
/.idea/shelf/Changes/models_first_person_maze.png
/.idea/shelf/Changes/models_geometric_shapes.png
/.idea/shelf/Changes/models_heightmap.png
/.idea/shelf/Changes/models_loading.png
/.idea/shelf/Changes/models_loading_gltf.png
/.idea/shelf/Changes/models_loading_m3d.png
/.idea/shelf/Changes/models_loading_vox.png
/.idea/shelf/Changes/models_mesh_generation.png
/.idea/shelf/Changes/models_mesh_picking.png
/.idea/shelf/Changes/models_orthographic_projection.png
/.idea/shelf/Changes/models_point_rendering.png
/.idea/shelf/Changes/models_rlgl_solar_system.png
/.idea/shelf/Changes/models_skybox.png
/.idea/shelf/Changes/models_waving_cubes.png
/.idea/shelf/Changes/models_yaw_pitch_roll.png
/.idea/modules.xml
/.idea/shelf/Changes/monitor.c.obj
/.idea/shelf/Changes/monu9.vox
/.idea/shelf/Changes/ninepatch_button.png
/.idea/shelf/Changes/noto_cjk.png
/.idea/shelf/Changes/null_init.c.obj
/.idea/shelf/Changes/null_joystick.c.obj
/.idea/shelf/Changes/null_monitor.c.obj
/.idea/shelf/Changes/null_window.c.obj
/.idea/shelf/Changes/old_car_d.png
/.idea/shelf/Changes/old_car_e.png
/.idea/shelf/Changes/old_car_mra.png
/.idea/shelf/Changes/old_car_n.png
/.idea/shelf/Changes/old_car_new.glb
/.idea/shelf/Changes/osmesa_context.c.obj
/.idea/shelf/Changes/parrots.png
/.idea/shelf/Changes/patterns.png
/.idea/shelf/Changes/pixantiqua.png
/.idea/shelf/Changes/pixantiqua.ttf
/.idea/shelf/Changes/pixantiqua1.png
/.idea/shelf/Changes/pixelplay.png
/.idea/shelf/Changes/plane.glb
/.idea/shelf/Changes/plane_diffuse.png
/.idea/shelf/Changes/plasma.png
/.idea/shelf/Changes/platform.c.obj
/.idea/shelf/Changes/position.cpp.obj
/.idea/shelf/Changes/position.cpp1.obj
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Changes/ps3.png
/.idea/shelf/Changes/raudio.c.obj
/.idea/shelf/Changes/raylib.dll.rc.data
/.idea/shelf/Changes/raylib.icns
/.idea/shelf/Changes/raylib.ico
/.idea/shelf/Changes/raylib.rc.data
/.idea/shelf/Changes/raylib1.ico
/.idea/shelf/Changes/raylib2.ico
/.idea/shelf/Changes/raylib_16x16.png
/.idea/shelf/Changes/raylib_24x24.png
/.idea/shelf/Changes/raylib_32x32.png
/.idea/shelf/Changes/raylib_36x36.png
/.idea/shelf/Changes/raylib_48x48.png
/.idea/shelf/Changes/raylib_64x64.png
/.idea/shelf/Changes/raylib_72x72.png
/.idea/shelf/Changes/raylib_96x96.png
/.idea/shelf/Changes/raylib_128x128.png
/.idea/shelf/Changes/raylib_144x144.png
/.idea/shelf/Changes/raylib_180x180.png
/.idea/shelf/Changes/raylib_256x256.png
/.idea/shelf/Changes/raylib_512x512.png
/.idea/shelf/Changes/raylib_1024x1024.png
/.idea/shelf/Changes/raylib_logo.png
/.idea/shelf/Changes/raylib_logo_3d.glb
/.idea/shelf/Changes/raylib_logo_animation.gif
/.idea/shelf/Changes/raylib_opengl_interop.png
/.idea/shelf/Changes/raymath_vector_angle.png
/.idea/shelf/Changes/raysan.png
/.idea/shelf/Changes/rcore.c.obj
/.idea/shelf/Changes/rlgl_compute_shader.png
/.idea/shelf/Changes/rlgl_standalone.png
/.idea/shelf/Changes/rmodels.c.obj
/.idea/shelf/Changes/road.png
/.idea/shelf/Changes/road_a.png
/.idea/shelf/Changes/road_mra.png
/.idea/shelf/Changes/road_n.png
/.idea/shelf/Changes/robot.blend
/.idea/shelf/Changes/robot.glb
/.idea/shelf/Changes/robot1.glb
/.idea/shelf/Changes/romulus.png
/.idea/shelf/Changes/rshapes.c.obj
/.idea/shelf/Changes/rtext.c.obj
/.idea/shelf/Changes/rtextures.c.obj
/.idea/shelf/Changes/scarfy.png
/.idea/shelf/Changes/scarfy_run.gif
/.idea/shelf/Changes/seagull.m3d
/.idea/shelf/Changes/setback.png
/.idea/shelf/Changes/shaders_basic_lighting.png
/.idea/shelf/Changes/shaders_basic_pbr.png
/.idea/shelf/Changes/shaders_custom_uniform.png
/.idea/shelf/Changes/shaders_deferred_render.png
/.idea/shelf/Changes/shaders_eratosthenes.png
/.idea/shelf/Changes/shaders_fog.png
/.idea/shelf/Changes/shaders_hot_reloading.png
/.idea/shelf/Changes/shaders_hybrid_render.png
/.idea/shelf/Changes/shaders_julia_set.png
/.idea/shelf/Changes/shaders_lightmap.png
/.idea/shelf/Changes/shaders_mesh_instancing.png
/.idea/shelf/Changes/shaders_model_shader.png
/.idea/shelf/Changes/shaders_multi_sample2d.png
/.idea/shelf/Changes/shaders_palette_switch.png
/.idea/shelf/Changes/shaders_postprocessing.png
/.idea/shelf/Changes/shaders_raymarching.png
/.idea/shelf/Changes/shaders_shadowmap.png
/.idea/shelf/Changes/shaders_shapes_textures.png
/.idea/shelf/Changes/shaders_simple_mask.png
/.idea/shelf/Changes/shaders_spotlight.png
/.idea/shelf/Changes/shaders_texture_drawing.png
/.idea/shelf/Changes/shaders_texture_outline.png
/.idea/shelf/Changes/shaders_texture_tiling.png
/.idea/shelf/Changes/shaders_texture_waves.png
/.idea/shelf/Changes/shaders_vertex_displacement.png
/.idea/shelf/Changes/shaders_write_depth.png
/.idea/shelf/Changes/shapes_basic_shapes.png
/.idea/shelf/Changes/shapes_bouncing_ball.png
/.idea/shelf/Changes/shapes_collision_area.png
/.idea/shelf/Changes/shapes_colors_palette.png
/.idea/shelf/Changes/shapes_draw_circle_sector.png
/.idea/shelf/Changes/shapes_draw_rectangle_rounded.png
/.idea/shelf/Changes/shapes_draw_ring.png
/.idea/shelf/Changes/shapes_easings_ball_anim.png
/.idea/shelf/Changes/shapes_easings_box_anim.png
/.idea/shelf/Changes/shapes_easings_rectangle_array.png
/.idea/shelf/Changes/shapes_following_eyes.png
/.idea/shelf/Changes/shapes_lines_bezier.png
/.idea/shelf/Changes/shapes_logo_raylib.png
/.idea/shelf/Changes/shapes_logo_raylib_anim.png
/.idea/shelf/Changes/shapes_rectangle_advanced.png
/.idea/shelf/Changes/shapes_rectangle_scaling.png
/.idea/shelf/Changes/shapes_splines_drawing.png
/.idea/shelf/Changes/shapes_top_down_lights.png
/.idea/shelf/Changes/shelved.patch
/.idea/shelf/Changes/skybox.png
/.idea/shelf/Changes/sound.wav
/.idea/shelf/Changes/space.png
/.idea/shelf/Changes/spark_flame.png
/.idea/shelf/Changes/spark_flame1.png
/.idea/shelf/Changes/spring.wav
/.idea/shelf/Changes/suzanne.m3d
/.idea/shelf/Changes/symbola.png
/.idea/shelf/Changes/target.flac
/.idea/shelf/Changes/target.ogg
/.idea/shelf/Changes/target.qoa
/.idea/shelf/Changes/Tetris.exe
/.idea/Tetris.iml
/.idea/shelf/Changes/texel_checker.png
/.idea/shelf/Changes/text_codepoints_loading.png
/.idea/shelf/Changes/text_draw_3d.png
/.idea/shelf/Changes/text_font_filters.png
/.idea/shelf/Changes/text_font_loading.png
/.idea/shelf/Changes/text_font_sdf.png
/.idea/shelf/Changes/text_font_spritefont.png
/.idea/shelf/Changes/text_format_text.png
/.idea/shelf/Changes/text_input_box.png
/.idea/shelf/Changes/text_raylib_fonts.png
/.idea/shelf/Changes/text_rectangle_bounds.png
/.idea/shelf/Changes/text_unicode.png
/.idea/shelf/Changes/text_writing_anim.png
/.idea/shelf/Changes/textures_background_scrolling.png
/.idea/shelf/Changes/textures_blend_modes.png
/.idea/shelf/Changes/textures_bunnymark.png
/.idea/shelf/Changes/textures_draw_tiled.png
/.idea/shelf/Changes/textures_fog_of_war.png
/.idea/shelf/Changes/textures_gif_player.png
/.idea/shelf/Changes/textures_image_channel.png
/.idea/shelf/Changes/textures_image_drawing.png
/.idea/shelf/Changes/textures_image_generation.png
/.idea/shelf/Changes/textures_image_kernel.png
/.idea/shelf/Changes/textures_image_loading.png
/.idea/shelf/Changes/textures_image_processing.png
/.idea/shelf/Changes/textures_image_rotate.png
/.idea/shelf/Changes/textures_image_text.png
/.idea/shelf/Changes/textures_logo_raylib.png
/.idea/shelf/Changes/textures_mouse_painting.png
/.idea/shelf/Changes/textures_npatch_drawing.png
/.idea/shelf/Changes/textures_particles_blending.png
/.idea/shelf/Changes/textures_polygon.png
/.idea/shelf/Changes/textures_raw_data.png
/.idea/shelf/Changes/textures_sprite_anim.png
/.idea/shelf/Changes/textures_sprite_button.png
/.idea/shelf/Changes/textures_sprite_explosion.png
/.idea/shelf/Changes/textures_srcrec_dstrec.png
/.idea/shelf/Changes/textures_textured_curve.png
/.idea/shelf/Changes/textures_to_image.png
/.idea/shelf/Changes/turret_diffuse.png
/.idea/shelf/Changes/utils.c.obj
/.idea/shelf/Changes/vulkan.c.obj
/.idea/shelf/Changes/wabbit_alpha.png
/.idea/shelf/Changes/watermill_diffuse.png
/.idea/shelf/Changes/weird.wav
/.idea/shelf/Changes/well_diffuse.png
/.idea/shelf/Changes/wgl_context.c.obj
/.idea/shelf/Changes/win32_init.c.obj
/.idea/shelf/Changes/win32_joystick.c.obj
/.idea/shelf/Changes/win32_module.c.obj
/.idea/shelf/Changes/win32_monitor.c.obj
/.idea/shelf/Changes/win32_thread.c.obj
/.idea/shelf/Changes/win32_time.c.obj
/.idea/shelf/Changes/win32_window.c.obj
/.idea/shelf/Changes/window.c.obj
/.idea/workspace.xml
/.idea/shelf/Changes/xbox.png
